[user]
	name = Pierre Durand
	email = pierredurand@gmail.com
[core]
	commitGraph = true
[protocol]
	version = 2
[fetch]
	prune = true
	pruneTags = true
[pull]
	rebase = true
[branch]
	autosetuprebase = always
[gc]
	autoDetach = false
	writeCommitGraph = true
[smartgit "fetch"]
	tags = true
[url "https://xxx@github.com/"]
	insteadOf = https://github.com/
