[user]
	name = Pierre Durand
	email = pierredurand@gmail.com
[fetch]
	prune = true
	pruneTags = true
[pull]
	rebase = true
[branch]
	autosetuprebase = always
[gc]
	autoDetach = false
[smartgit "fetch"]
	tags = true
